repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-json
  - id: check-xml
  - id: check-toml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-symlinks
  - id: detect-private-key
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: end-of-file-fixer
    exclude: '.*\\.json'
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
  - id: mypy
    verbose: true
    additional_dependencies: ['types-requests', 'types-python-dateutil', 'types-pytz']

- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    args:
      - '--line-length=120'
      - '--skip-string-normalization'
      - '--target-version=py312'

- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args:
      - '--filter-files'
      - '--profile=black'
    minimum_pre_commit_version: '2.9.2'

- repo: https://github.com/PyCQA/pylint
  rev: v3.3.7
  hooks:
  - id: pylint
    args: ['--disable=line-too-long,missing-module-docstring,missing-function-docstring,missing-class-docstring,logging-fstring-interpolation,too-many-arguments,too-few-public-methods,too-many-branches,too-many-statements,too-many-instance-attributes,duplicate-code']

- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args: ['--py312-plus']

- repo: https://github.com/PyCQA/bandit
  rev: 1.8.5
  hooks:
  - id: bandit




#default_language_version:
#  python: python3.12
